header {
  -webkit-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
}
header .mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #F2F2F2;
  padding: 15px 0px;
}
header .menu {
  padding: 23px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .menu__item {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
header .menu__item-active {
  font-weight: 500;
  color: #2D2D2D;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left .logo {
  width: 120px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  margin-right: 10px;
}
.header__left .logo__text {
  font-size: 10px;
  max-width: 175px;
  text-transform: uppercase;
}
.header__left .logo__text span {
  font-weight: 600;
}

.soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.soz__item {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
}

.recall {
  text-transform: uppercase;
  margin-right: 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BFE101), to(#A9C800));
  background: linear-gradient(to bottom, #BFE101, #A9C800);
  border-radius: 100px;
  padding: 1px;
}
.recall span {
  display: block;
  padding: 16px 27px;
  background: #ffffff;
  border-radius: inherit;
  font-size: 13px;
  font-weight: 500;
}

.work__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.work__time-text {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 1px;
}

.work__time-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work__time-phone .phone-icon {
  width: 16px;
  margin-right: 10px;
}
.work__time-phone .phone__item {
  font-weight: 600;
  font-size: 20px;
}

.burger {
  display: none;
}

@media screen and (max-width: 900px) {
  header .recall {
    margin-right: 0px;
  }
  header .soz {
    display: none;
  }
  header .work__time {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__left .logo__text, .menu {
    display: none;
  }

  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: -1000px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #ffffff;
    z-index: 10;
    padding: 20px 20px;
    width: 50%;
  }
  header .menu li {
    margin-bottom: 20px;
  }
  header .menu-active {
    left: 0px;
  }

  .head__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10px 0px;
  }

  .burger {
    display: block;
    width: 20px;
  }

  .recall span {
    padding: 13px 17px;
  }
}
@media screen and (max-width: 400px) {
  header .menu {
    width: 75%;
  }
}
.prelink {
  margin: 27px 0px;
}

.pre__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pre__links-item {
  color: #000000;
}
.pre__links-icon {
  width: 5px;
  margin: 0px 16px;
}
.pre__links-active {
  color: #9F9F9F;
}

.product__title {
  font-size: 20px;
  font-weight: 600;
  color: #2D2D2D;
}
.product__block {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background: #FAFAFA;
  border-radius: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__img {
  border-radius: 24px;
  max-width: 635px;
  width: 100%;
}
.product__info {
  max-width: 530px;
}
.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__price-item {
  font-size: 17px;
  font-weight: 600;
}
.product__price-item span {
  font-weight: 800;
  font-size: 24px;
}
.product__price-info {
  margin-top: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  max-width: 500px;
}
.product__line {
  width: 1px;
  height: 10px;
  background: #000000;
}
.product__button {
  padding: 18px 37px;
  font-size: 16px;
  font-weight: 700;
  color: #F2F2F2;
  background: linear-gradient(92.11deg, #BFE101 0%, #A9C800 100%);
  border-radius: 12px;
}
.product__descript {
  margin-top: 20px;
  margin-bottom: 12px;
}
.product__descript-item {
  font-size: 14px;
  margin-bottom: 10px;
}
.product__descript-item:last-child {
  margin-bottom: 0px;
}
.product__descript-item span {
  font-weight: 600;
}
.product__moreinfo {
  color: #BFE201;
  text-decoration: underline;
  position: relative;
  font-size: 16px;
  font-weight: 700;
}
.product__moreinfo::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
  width: 15px;
  background: url("../img/Arrow 2.svg");
  height: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.product__color {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__color-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 65px;
  margin-right: 10px;
}
.product__color-item:last-child {
  margin-right: 0px;
}
.product__color .item-color {
  width: 44px;
  height: 44px;
  margin-bottom: 6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.product__color .item-name {
  font-size: 10px;
  color: #9F9F9F;
}
.product__dost-line {
  margin: 10px 0px;
  width: 100%;
  height: 1px;
  background: #9F9F9F;
}
.product__dost-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.product__dost-item:last-child {
  margin-bottom: 0px;
}
.product__dost-icon {
  min-width: 40px;
  width: 40px;
  margin-right: 30px;
}
.product__dost-title {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}

@media screen and (max-width: 1280px) {
  .product__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__img {
    margin-bottom: 20px;
  }
  .product__info {
    max-width: 635px;
  }
}
@media screen and (max-width: 600px) {
  .product__block {
    padding: 20px 0px;
  }
  .product__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product__line {
    display: none;
  }
  .product__button {
    margin-top: 20px;
  }
  .product__color {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__color-item {
    margin-bottom: 10px;
  }
}
.tabs {
  margin-top: 30px;
}
.tabs .container {
  background: #FAFAFA;
  border-radius: 24px;
  padding: 30px;
}
.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs__caption li {
  min-width: 260px;
  padding: 23px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F2F2F2;
  border-radius: 24px;
  text-transform: uppercase;
  color: #2D2D2D;
  font-weight: 800;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}
.tabs__caption li:last-child {
  margin-right: 0px;
}
.tabs__caption .active {
  background: #EAEAEA;
}
.tabs__content {
  display: none;
  margin-top: 30px;
}
.tabs__content.active {
  display: block;
}
.tabs__content .tabs__text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.tabs__content .tabs__text:last-child {
  margin-bottom: 0px;
  margin-top: 30px;
}
.tabs__list {
  margin-top: 40px;
  padding-left: 20px;
}
.tabs__list li {
  font-weight: 500;
  list-style: none;
  position: relative;
  margin-bottom: 8px;
}
.tabs__list li:last-child {
  margin-bottom: 0px;
}
.tabs__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -20px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #000000;
}
.tabs .tabs__list-title {
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .tabs__caption {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs__caption li {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  .tabs {
    margin-top: 50px;
  }
  .tabs .container {
    padding: 20px 0px;
  }

  .tabs__caption li {
    width: 100%;
    margin-right: 0px;
  }

  .tabs__content .tabs__text {
    font-size: 14px;
  }

  .tabs__list li {
    font-size: 14px;
  }
  .tabs__list li::before {
    top: 10px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.table {
  margin-top: 159px;
}
.table__title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 13px;
}
.table__descript {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  margin-top: 6px;
}
.table__main {
  margin-top: 40px;
  padding-left: 1px;
}
.table__main-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.table__main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 0px;
  padding-right: 10px;
  padding-left: 3px;
  border-bottom: 1px solid #f0f0f0;
}
.table__main-item:nth-child(2n+1) {
  background: #f0f0f0;
}
.table__main-titles .item__name {
  font-weight: 700;
}
.table .item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table .item__right .item__name {
  text-align: center;
  margin-right: 20px;
}
.table .item__right .item__name:last-child {
  margin-right: 0px;
}
.table .item__name {
  font-size: 15px;
  min-width: 150px;
}

.pred__title {
  text-transform: uppercase;
  color: #d22e2e;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.pred__descript {
  margin-top: 15px;
}
.pred__descript span {
  text-transform: uppercase;
}

@media screen and (max-width: 1040px) {
  .table__main-item {
    min-width: 1200px;
  }

  .table__scroll {
    max-width: 100%;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 600px) {
  .table__main-item {
    min-width: 1000px;
  }

  .table {
    margin-top: 20px;
  }
  .table__title {
    font-size: 7vw;
  }
  .table__descript {
    font-size: 4vw;
  }
}
.cons {
  margin-top: 33px;
}
.cons .container {
  background: #FAFAFA;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cons__info {
  padding: 65px;
  padding-right: 0px;
  margin-right: 46px;
}
.cons__map {
  max-width: 770px;
  width: 100%;
  border-radius: 24px;
  min-height: 100%;
  max-height: 100%;
}
.cons__map img {
  height: 100%;
}
.cons .work__time-phone .phone__item {
  font-size: 24px;
}
.cons .work__time-phone .phone-icon {
  width: 20px;
}
.cons__recall {
  margin-top: 30px;
}
.cons__recall .recall span {
  padding: 14px 27px;
}
.cons__soz {
  margin-top: 30px;
}
.cons__soz .soz__item {
  width: 40px;
  height: 40px;
}
.cons__title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

@media screen and (max-width: 1280px) {
  .cons .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 65px;
  }

  .cons__info {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0px;
    margin-bottom: 30px;
  }

  .cons__map {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .cons .container {
    padding: 20px 0px;
    border-radius: 5px;
  }

  .cons__title {
    font-size: 16px;
  }
}
footer {
  background: #F2F2F2;
  padding-top: 31px;
  padding-bottom: 15px;
  margin-top: 30px;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer ul {
  padding-left: 10px;
}
footer ul li {
  font-size: 16px;
  font-weight: 400;
  color: #2D2D2D;
  list-style: none;
  margin-bottom: 20px;
  position: relative;
}
footer ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
  width: 2px;
  height: 2px;
  background: #000000;
  border-radius: 100%;
}
footer ul li:last-child {
  margin-bottom: 0px;
}
footer .logo__block {
  max-width: 157px;
}
footer .logo__block .logo__text {
  font-size: 11px;
  text-align: center;
  margin-top: 9px;
}
footer .logo__block .logo__text span {
  font-weight: 600;
}
footer .footer__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}
footer .work__time {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .footer__adv ul {
  padding-left: 30px;
}
footer .footer__adv ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/ch.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  left: -30px;
}
footer .place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}
footer .place__text {
  margin-right: 20px;
}
footer .place__text-item {
  font-size: 10px;
  text-transform: uppercase;
}
footer .place__text-link {
  color: #BFE201;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}
footer .place__icon {
  width: 40px;
  height: 40px;
  background: #BFE201;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .place__icon img {
  width: 15px;
}
footer .line {
  width: 100%;
  height: 1px;
  background: #DADADA;
  margin-top: 33px;
  margin-bottom: 29px;
}

.footer__line {
  margin-bottom: 15px;
}

.underfooter div {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.comp {
  max-width: 230px;
}

.zach {
  text-align: center;
  max-width: 528px;
}

.rules {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1280px) {
  footer .main__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .footer__item {
    margin-top: 30px;
  }
  footer ul {
    padding-left: 0px;
  }
  footer ul li {
    font-size: 16px;
    font-weight: 400;
    color: #2D2D2D;
    list-style: none;
    margin-bottom: 10px;
  }
  footer ul li::before {
    display: none;
  }
  footer .work__time {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .soz {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }

  .footer__adv ul {
    padding-left: 30px;
  }
  .footer__adv ul li::before {
    display: block;
  }

  .underfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .zach {
    margin: 20px 0px;
  }

  .rules {
    text-align: center;
  }
}